*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vh;
    gap: 1vh;
}

.display-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}